openapi: 3.0.2
info:
  title: Custodial-Battery REST API.
  version: 0.0.1
  description: REST API for Custodial Battery which provides gas to different networks to help execute transactions.
  contact:
    name: Support
    email: support@tonkeeper.com
servers:
  - url: "https://battery.tonkeeper.com"
  - url: "https://testnet-battery.tonkeeper.com"

paths:
  /tonconnect/payload:
    get:
      description: Get a payload for further token receipt
      operationId: getTonConnectPayload
      tags:
        - Connect
      responses:
        '200':
          description: payload
          content:
            application/json:
              schema:
                type: object
                required:
                  - payload
                properties:
                  payload:
                    type: string
                    example: "84jHVNLQmZsAAAAAZB0Zryi2wqVJI-KaKNXOvCijEi46YyYzkaSHyJrMPBMOkVZa"
        'default':
          $ref: '#/components/responses/Error'
  /tonconnect/proof:
    post:
      description: Account verification and token issuance
      operationId: tonConnectProof
      tags:
        - Wallet
      requestBody:
        $ref: "#/components/requestBodies/TonConnectProof"
      responses:
        '200':
          description: auth token
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                properties:
                  token:
                    type: string
                    example: "NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3..."
        'default':
          $ref: '#/components/responses/Error'
  /status:
    get:
      description: This method returns information about the current status of Battery Service.
      operationId: getStatus
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        'default':
          $ref: '#/components/responses/Error'
  /config:
    get:
      description: This method returns information about Battery Service.
      operationId: getConfig
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        'default':
          $ref: '#/components/responses/Error'
  /promo-used:
    get:
      operationId: getPromoUsed
      parameters:
        - name: promo
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoUsed'
        'default':
          $ref: '#/components/responses/Error'
  /battery-charged:
    get:
      description: This method returns information about a user's balance.
      operationId: getBatteryCharged
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryCharged'
        'default':
          $ref: '#/components/responses/Error'
  /balance:
    get:
      description: This method returns information about a user's balance.
      operationId: getBalance
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/balanceUnits'
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        'default':
          $ref: '#/components/responses/Error'
  /wallet/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToWallet
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      tags:
        - Emulation
      parameters:
        - $ref: '#/components/parameters/i18n'
        - name: enable_validation
          in: query
          schema:
            type: boolean
            default: false
          required: false
      requestBody:
        $ref: "#/components/requestBodies/Boc"
      responses:
        '200':
          description: emulated message
          headers:
            Allowed-By-Battery:
              required: true
              schema:
                type: boolean
                example: "true"
            Supported-By-Battery:
              required: true
              schema:
                type: boolean
                example: "true"
            Reject-Reason:
              schema:
                type: string
                example: "message is too large"
            X-Battery-Protocol-Name:
              schema:
                type: string
            Excess:
              required: true
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /message:
    post:
      description: Send message to blockchain
      operationId: sendMessage
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/promo'
      requestBody:
        $ref: "#/components/requestBodies/BocWithProof"
      responses:
        '200':
          description: "success"
          headers:
            X-Battery-Protocol-Name:
              schema:
                type: string
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/config:
    get:
      operationId: getTronConfig
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                type: object
                required:
                  - safety_margin_percent
                properties:
                  safety_margin_percent:
                    type: string
                    example: "1.5"
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/estimate:
    get:
      description: Estimate cost of sending a tx in Tron network
      operationId: tronEstimate
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/optionalEnterpriseAccessToken'
        - name: X-Pro-Auth
          in: header
          required: false
          schema:
            type: string
          description: JWT token from Pro service for free charges verification
        - name: energy
          in: query
          required: false
          schema:
            type: integer
            maximum: 1000000
            minimum: 0
        - name: bandwidth
          in: query
          required: false
          schema:
            type: integer
            maximum: 2000
            minimum: 0
        - name: wallet
          in: query
          required: true
          schema:
            type: string
        - name: enable_validation
          in: query
          required: false
          description: Enable balance validation for battery charges
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatedTronTx'
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/send:
    post:
      description: send TRON tx
      operationId: tronSend
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/optionalEnterpriseAccessToken'
        - name: X-Pro-Auth
          in: header
          required: false
          schema:
            type: string
          description: JWT token from Pro service for free charges verification
        - name: user_public_key
          in: query
          required: false
          description: User public key for commission payments (required when instant_fee_tx is provided)
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/TronTx"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentTronTx'
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/transactions:
    get:
      operationId: getTronTransactions
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/maxTimestamp'
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TronTransactionsList'
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/available-transfers:
    get:
      description: Get number of available TRON free transfers for Pro users
      operationId: getTronAvailableTransfers
      parameters:
        - name: X-Pro-Auth
          in: header
          required: true
          schema:
            type: string
          description: JWT token from Pro service (Bearer token)
      responses:
        '200':
          description: Available transfers information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TronAvailableTransfers'
        'default':
          $ref: '#/components/responses/Error'
  /v0/tron/itrx-io-callback:
    post:
      description: receive callback from itrx.io
      operationId: itrxIoCallback
      parameters:
        - $ref: '#/components/parameters/itrxSignature'
        - $ref: '#/components/parameters/itrxTimestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /purchase-battery/android:
    post:
      description: verify an in-app purchase
      operationId: androidBatteryPurchase
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/AndroidBatteryPurchase"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidBatteryPurchaseStatus'
        'default':
          $ref: '#/components/responses/Error'
  /purchase-battery/ios/app-store-notification:
    post:
      operationId: appStoreNotification
      requestBody:
        $ref: "#/components/requestBodies/appStoreNotification"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appStoreResponse'
        'default':
          $ref: '#/components/responses/Error'
  /purchase-battery/ios:
    post:
      description: verify an in-app purchase
      operationId: iosBatteryPurchase
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/iOSBatteryPurchase"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSBatteryPurchaseStatus'
        'default':
          $ref: '#/components/responses/Error'
  /purchase-battery/promo-code:
    post:
      description: charge battery with promo code
      operationId: promoCodeBatteryPurchase
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/i18n'
      requestBody:
        $ref: "#/components/requestBodies/promoCodeBatteryPurchase"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/promoCodeBatteryPurchaseStatus'
        'default':
          $ref: '#/components/responses/Error'
  /purchase-battery/verify-purchase-promo:
    get:
      operationId: verifyPurchasePromo
      parameters:
        - name: promo
          in: query
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                type: object
                required:
                  - bonus_charges
                properties:
                  bonus_charges:
                    type: string
                    example: "10.250"
        'default':
          $ref: '#/components/responses/Error'
  /recharge-methods:
    get:
      description: This method returns on-chain recharge methods.
      operationId: getRechargeMethods
      parameters:
        - name: include_recharge_only
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechargeMethods'
        'default':
          $ref: '#/components/responses/Error'
  /request-refund:
    post:
      operationId: requestRefund
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/requestRefund"
      responses:
        '200':
          description: success
        'default':
          $ref: '#/components/responses/Error'
  /purchases:
    get:
      description: This method returns a list of purchases made by a specific user.
      operationId: getPurchases
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - name: include_gifts_on_the_way
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchases'
        'default':
          $ref: '#/components/responses/Error'
  /transactions:
    get:
      description: This method returns a list of transactions made by a specific user.
      operationId: getTransactions
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        'default':
          $ref: '#/components/responses/Error'
  /gasless/estimate-cost/{jetton_master}:
    post:
      operationId: estimateGaslessCost
      security:
        - deviceJWT: [ ]
          walletAuth: [ ]
          xWalletId: [ ]
        - tonConnectAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/jettonMasterParameter'
        - name: wallet_address
          in: query
          schema:
            type: string
          required: false
        - name: wallet_public_key
          in: query
          schema:
            type: string
          required: false
        - name: enable_validation
          in: query
          schema:
            type: boolean
            default: false
          required: false
      requestBody:
        $ref: "#/components/requestBodies/gaslessEstimateCost"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GaslessEstimation'
        'default':
          $ref: '#/components/responses/Error'

  /gasless/estimate/jetton-transfer:
    post:
      operationId: EstimateGaslessJettonTransfer
      summary: Estimate gasless commission for a jetton transfer by its parameters
      requestBody:
        $ref: "#/components/requestBodies/gaslessEstimateJettonTransfer"
      responses:
        '200':
          description: Gasless commission transfer parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GaslessCommissionJettonTransfer'
        'default':
          $ref: '#/components/responses/Error'
  /restricted/promo-campaign:
    post:
      operationId: createPromoCampaign
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participants
                - name
              properties:
                name:
                  type: string
                participants:
                  type: array
                  items:
                    type: object
                    required:
                      - address
                      - amount
                    properties:
                      address:
                        type: string
                      amount:
                        type: string
                        description: amount in TON
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                required:
                  - participants
                properties:
                  participants:
                    type: array
                    items:
                      type: object
                      required:
                        - address
                      properties:
                        address:
                          type: string
                        balance_increased:
                          type: string
                        error:
                          type: string
        'default':
          $ref: '#/components/responses/Error'
  /restricted/promo-campaign-by-user:
    post:
      operationId: createPromoCampaignByUser
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participants
                - name
              properties:
                name:
                  type: string
                participants:
                  type: array
                  items:
                    type: object
                    required:
                      - user_id
                      - amount
                    properties:
                      user_id:
                        type: integer
                        format: int64
                      amount:
                        type: string
                        description: amount in TON
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                required:
                  - participants
                properties:
                  participants:
                    type: array
                    items:
                      type: object
                      required:
                        - user_id
                      properties:
                        user_id:
                          type: integer
                          format: int64
                        balance_increased:
                          type: string
                        error:
                          type: string
        'default':
          $ref: '#/components/responses/Error'
  /restricted/apply-promo:
    post:
      operationId: applyPromo
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - promo_code
                - public_key
              properties:
                public_key:
                  type: string
                promo_code:
                  type: string
                  example: "1234567890"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/promoCodeBatteryPurchaseStatus'
        'default':
          $ref: '#/components/responses/Error'
  /restricted/create-custom-refund:
    post:
      operationId: createCustomRefund
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        $ref: "#/components/requestBodies/customRefund"
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/battery-transfer:
    post:
      operationId: batteryTransfer
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Amount in TON (not nano)
                comment:
                  type: string
                  description: Optional text comment for TON transfer
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/battery-swap-ton-to-usdt:
    post:
      operationId: batterySwapTonToUsdt
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Amount in TON (not nano) to swap to USDT on battery.ton
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/battery-nft-transfer:
    post:
      operationId: batteryNftTransfer
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nft
                - to
              properties:
                nft:
                  type: string
                  description: NFT item address to transfer
                to:
                  type: string
                  description: New NFT owner address
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/okx-deposit:
    post:
      operationId: replenishOKXBalance
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Amount in TON
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/relayer-to-battery:
    post:
      operationId: relayerToBattery
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: Amount in TON (not nano) to transfer from main relayer to battery.ton
                comment:
                  type: string
                  description: Optional text comment for TON transfer
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/migrate-old-battery:
    post:
      operationId: migrateOldBattery
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - seed
              properties:
                seed:
                  type: string
                  description: Old battery wallet mnemonic (seed phrase)
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/migrate-relayer:
    post:
      operationId: migrateRelayer
      parameters:
        - $ref: '#/components/parameters/adminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - seed
              properties:
                seed:
                  type: string
                  description: Old relayer mnemonic (seed phrase)
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/omniston-swap:
    post:
      operationId: omnistonSwap
      parameters:
        - $ref: '#/components/parameters/adminToken'
        - name: master0
          in: query
          required: true
          schema:
            type: string
            description: Jetton master address or 'ton' for native TON
        - name: master1
          in: query
          required: true
          schema:
            type: string
            description: Jetton master address or 'ton' for native TON
        - name: from_amount
          in: query
          required: true
          schema:
            type: string
            description: Amount in human-readable units of master0 (not nano)
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/users/{user_id}/reset-balance:
    post:
      operationId: resetUserBalance
      parameters:
        - $ref: '#/components/parameters/adminToken'
        - name: user_id
          in: path
          schema:
            type: integer
            format: int64
          required: true
      requestBody:
        $ref: "#/components/requestBodies/resetUserBalance"
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/purchases/{purchase_id}/extend-refund-period:
    post:
      operationId: extendRefundPeriod
      parameters:
        - $ref: '#/components/parameters/adminToken'
        - name: purchase_id
          in: path
          schema:
            type: integer
            format: int64
          required: true
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /restricted/users/{user_id}/increase-balance:
    post:
      operationId: increaseUserBalance
      parameters:
        - $ref: '#/components/parameters/adminToken'
        - name: user_id
          in: path
          schema:
            type: integer
            format: int64
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: string
                  description: amount in TON to increase balance by
                reason:
                  type: string
                  description: reason for balance increase
      responses:
        '200':
          description: "all good"
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /jetton-metadata/{name}.json:
    get:
      operationId: getJettonMetadata
      tags:
        - Emulation
      parameters:
        - name: name
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                additionalProperties: true
                example: { }
        'default':
          $ref: '#/components/responses/Error'
  /enterprise/wallets/{wallet_id}/config:
    get:
      operationId: enterpriseGetWalletConfig
      parameters:
        - $ref: '#/components/parameters/enterpriseAccessToken'
        - name: wallet_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseWalletConfig'
        'default':
          $ref: '#/components/responses/Error'
  /enterprise/wallets/{wallet_id}/estimate:
    post:
      operationId: enterpriseEstimate
      parameters:
        - $ref: '#/components/parameters/enterpriseAccessToken'
        - $ref: '#/components/parameters/i18n'
        - name: wallet_id
          in: path
          schema:
            type: string
          required: true
        - name: emulate
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        $ref: "#/components/requestBodies/EnterpriseSendingBoc"
      responses:
        '200':
          description: TBD
          content:
            application/json:
              schema:
                type: object
                required:
                  - estimated_upfront_payment
                properties:
                  estimated_upfront_payment:
                    type: string
                  emulation:
                    type: string
                    description: base64 encoded emulation results. The exact type can be taken from /v2/wallet/emulate (TONAPI).
        'default':
          $ref: '#/components/responses/Error'
  /enterprise/wallets/{wallet_id}/send:
    post:
      operationId: enterpriseSend
      parameters:
        - $ref: '#/components/parameters/enterpriseAccessToken'
        - name: wallet_id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        $ref: "#/components/requestBodies/EnterpriseSendingBoc"
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                type: object
                required:
                  - msg_id
                properties:
                  msg_id:
                    type: string
                  external:
                    type: string
                    description: base64 encoded external message (signed) that was sent to the network
        'default':
          $ref: '#/components/responses/Error'
  /enterprise/messages/{msg_id}:
    get:
      operationId: enterpriseGetMessage
      parameters:
        - $ref: '#/components/parameters/enterpriseAccessToken'
        - name: msg_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  payment_tx_hash:
                    type: string
                  committed_tx_hash:
                    type: string
                  status:
                    type: string
                    enum:
                      - pending
                      - completed
                      - failed
                  final_cost:
                    type: string
                  failed_reason:
                    type: string
        'default':
          $ref: '#/components/responses/Error'
  /enterprise/status:
    get:
      operationId: enterpriseGetStatus
      parameters:
        - $ref: '#/components/parameters/enterpriseAccessToken'
      responses:
        '200':
          description: "success"
          content:
            application/json:
              schema:
                type: object
                required:
                  - balance
                  - wallet
                properties:
                  balance:
                    type: string
                  wallet:
                    type: string
        'default':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    deviceJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Device access token issued by the multichain backend. The client attaches and refreshes it; the `Authorization` header parameter below is legacy and gets overwritten."
    walletAuth:
      type: apiKey
      in: header
      name: X-Wallet-Authorization
      x-wallet-auth: true
      description: "Wallet-scoped token signed by the wallet's app key over the device access token. Always accompanies `xWalletId`, which names the wallet being asserted."
    tonConnectAuth:
      type: apiKey
      in: header
      name: X-TonConnect-Auth
      x-client-parameter: true
      description: "TonConnect proof for legacy TON wallets. Mutually exclusive in practice with deviceJWT + walletAuth, which is how multichain wallets authenticate — they have no tonProof."
    xWalletId:
      type: apiKey
      in: header
      name: X-Wallet-ID
      x-client-parameter: true
      x-wallet-id: true
      description: |
        Names the wallet `walletAuth` is asserting, and is checked rather than trusted: the id is
        `base32(format ‖ kind_byte ‖ blake2b160(LP("keeper.wallet.id.v2") ‖ LP(kind) ‖ LP(wallet_pub)))`,
        so the verifier reads the format and kind bytes from here, recomputes the id from the key
        recovered out of the signature, and rejects on mismatch. Recovery alone cannot produce the
        id — the signature carries the public key, not the framing bytes.

        `x-client-parameter` makes the generated client take this as an argument and send it, and
        `x-wallet-id` marks it as the value `walletAuth` signs for. No operation declares it as a
        parameter of its own, so there is exactly one on the wire. Absent for legacy TON wallets,
        which authenticate with `X-TonConnect-Auth` and have no wallet id.
  parameters:
    enterpriseAccessToken:
      in: header
      name: X-Enterprise-Auth
      schema:
        type: string
        example: NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3...
      required: true
    itrxSignature:
      in: header
      name: SIGNATURE
      schema:
        type: string
      required: true
    itrxTimestamp:
      in: header
      name: TIMESTAMP
      schema:
        type: string
      required: true
    promo:
      in: header
      name: X-Promo
      required: false
      description: >-
        Promo code the client wants applied. For now it is only accepted, nothing
        is redeemed by it.
      schema:
        type: string
        example: "HAMSTER"
    optionalEnterpriseAccessToken:
      in: header
      name: X-Enterprise-Auth
      schema:
        type: string
        example: NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3...
      required: false
      description: Enterprise access token; use with Tron battery billing for enterprise accounts
    adminToken:
      in: query
      name: token
      schema:
        type: string
      required: true
    jettonMasterParameter:
      in: path
      name: jetton_master
      required: true
      schema:
        type: string
    purchaseId:
      in: query
      name: id
      required: true
      schema:
        type: integer
    limitQuery:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 1000
        maximum: 1000
    offsetQuery:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        default: 0
    maxTimestamp:
      in: query
      name: max_timestamp
      required: false
      schema:
        type: integer
        format: int64
    i18n:
      in: header
      name: Accept-Language
      required: false
      schema:
        type: string
        example: "ru-RU,ru;q=0.5"
        default: "en"
    balanceUnits:
      in: query
      name: units
      schema:
        type: string
        default: "usd"
        enum:
          - usd
          - ton
    region:
      in: query
      name: region
      required: false
      schema:
        type: string
        description: "User's region for analytics purposes"
  requestBodies:
    TonConnectProof:
      description: "Data that is expected from TON Connect"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - address
              - proof
            properties:
              address:
                type: string
                example: "0:97146a46acc2654y27947f14c4a4b14273e954f78bc017790b41208b0043200b"
              proof:
                type: object
                required:
                  - timestamp
                  - domain
                  - signature
                  - payload
                properties:
                  timestamp:
                    type: integer
                    format: int64
                    example: "1678275313"
                  domain:
                    type: object
                    required:
                      - value
                    properties:
                      length_bytes:
                        type: integer
                        format: int32
                      value:
                        type: string
                  signature:
                    type: string
                  payload:
                    type: string
                    example: "84jHVNLQmZsAAAAAZB0Zryi2wqVJI-KaKNXOvCijEi46YyYzkaSHyJrMPBMOkVZa"
                  state_init:
                    type: string
    EnterpriseSendingBoc:
      description: bag-of-cells serialized to base64
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - boc
              - wallet_public_key
            properties:
              boc:
                type: string
                example: te6ccgECBQEAARUAAkWIAWTtae+KgtbrX26Bep8JSq8lFLfGOoyGR/xwdjfvpvEaHg
              wallet_public_key:
                type: string

    TronTx:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - wallet
            properties:
              tx:
                type: string
              energy:
                type: integer
                minimum: 0
                maximum: 1000000
              bandwidth:
                type: integer
                minimum: 0
                maximum: 2000
              wallet:
                type: string
              instant_fee_tx:
                type: string
                description: "base64 encoded payment transaction in the TON network"
    Boc:
      description: bag-of-cells serialized to base64
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - boc
            properties:
              boc:
                type: string
                example: te6ccgECBQEAARUAAkWIAWTtae+KgtbrX26Bep8JSq8lFLfGOoyGR/xwdjfvpvEaHg

    BocWithProof:
      description: bag-of-cells serialized to base64, with a proof of the wallet's consent
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - boc
            properties:
              boc:
                type: string
                example: te6ccgECBQEAARUAAkWIAWTtae+KgtbrX26Bep8JSq8lFLfGOoyGR/xwdjfvpvEaHg
              proof:
                description: >-
                  Ed25519 signature made with the WalletID key over
                  LP("keeper.battery.send.v1") | LP(wallet_id) | LP(chain) | LP(blake2b256(boc)),
                  hex-encoded. For now it is only accepted, nothing is verified with it.
                type: string
                example: "3a7f1c9e00000000000000000000000000000000000000000000000000000000d204a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f90"

    AndroidBatteryPurchase:
      description: In-App purchase
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - purchases
            properties:
              purchases:
                type: array
                items:
                  type: object
                  required:
                    - token
                    - product_id
                  properties:
                    token:
                      type: string
                      example: 0:2cf3b5b8c891e517c9addbda1c0386a09ccacbb0e3faf630b51cfc8152325acb
                    product_id:
                      type: string
                      example: 0:2cf3b5b8c891e517c9addbda1c0386a09ccacbb0e3faf630b51cfc8152325acb
                    promo:
                      type: string
                      example: "HAMSTER"

    appStoreNotification:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - signedPayload
            properties:
              signedPayload:
                type: string
    iOSBatteryPurchase:
      description: In-App purchase
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - transactions
            properties:
              transactions:
                type: array
                items:
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: string
                    promo:
                      type: string
                      example: "HAMSTER"
    gaslessEstimateCost:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - payload
            properties:
              battery:
                type: boolean
                default: true
              payload:
                type: string

    gaslessEstimateJettonTransfer:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - jetton_master
              - destination
            properties:
              jetton_master:
                type: string
                description: Jetton master address
              destination:
                type: string
                description: Destination wallet address
              response_destination:
                type: string
                description: Optional response/excess address
              attached_ton:
                type: string
                description: Optional attached TON amount in nanoTONs
              forward_ton_amount:
                type: string
                description: Optional forward TON amount in nanoTONs

    resetUserBalance:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - reason
            properties:
              reason:
                type: string
    customRefund:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - amount
              - currency
              - comment
              - reason
              - destination
            properties:
              relayer_event_id:
                type: integer
              amount:
                type: string
                example: "10.250"
              currency:
                type: string
              comment:
                type: string
              reason:
                type: string
              destination:
                type: string

    requestRefund:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              user_purchase_id:
                type: integer
                deprecated: true
                example: 43
              purchase_id:
                type: integer
                example: 43
    promoCodeBatteryPurchase:
      description: charge battery with promo code
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - promo_code
            properties:
              promo_code:
                type: string
                example: "1234567890"
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: error description
    Status:
      type: object
      required:
        - pending_transactions
      properties:
        pending_transactions:
          type: array
          items:
            type: object
            required:
              - id
            properties:
              id:
                type: string
    EnterpriseWalletConfig:
      type: object
      required:
        - excess_account
      properties:
        excess_account:
          type: string
          description: when building a message to transfer an NFT or Jetton, use this address to send excess funds back to Battery Service.
          example: 0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf

    RelayerSendingEstimation:
      type: object
      required:
        - commission
      properties:
        commission:
          type: string
    Config:
      type: object
      required:
        - excess_account
        - fund_receiver
        - message_ttl
        - charge_cost
        - gas_proxy
        - mean_prices
        - battery_reserved_amount
        - packages
        - transfer_cost
      properties:
        charge_cost:
          description: "cost of 1 charge in TON"
          type: string
          example: "0.0026"
        fund_receiver:
          type: string
          description: "with zero balance it is possible to transfer some jettons (stablecoins, jusdt, etc) to this address to refill the balance. Such transfers would be paid by Battery Service."
          example: 0:07331e629e39d006d86a8cc7659c10a97c671f7535dc8b7f251a1a944dda348e
        excess_account:
          type: string
          description: when building a message to transfer an NFT or Jetton, use this address to send excess funds back to Battery Service.
          example: 0:da6b1b6663a0e4d18cc8574ccd9db5296e367dd9324706f3bbd9eb1cd2caf0bf
        message_ttl:
          type: integer
          description: "ttl for message in seconds"
          example: 300
        gas_proxy:
          type: array
          items:
            type: object
            required:
              - address
            properties:
              address:
                type: string
        mean_prices:
          type: object
          required:
            - battery_mean_price_swap
            - battery_mean_price_jetton
            - battery_mean_price_nft
          properties:
            battery_mean_price_swap:
              type: integer
            battery_mean_price_jetton:
              type: integer
            battery_mean_price_nft:
              type: integer
            battery_mean_price_tron_usdt:
              type: integer
            ton_mean_price_tron_usdt:
              type: number
              format: float
        battery_reserved_amount:
          type: string
          description: "reserved amount in TON that is kept for gas fees"
          example: "0.065"
        packages:
          type: array
          items:
            $ref: '#/components/schemas/PackageItem'
        transfer_cost:
          type: object
          required:
            - default
            - jettons
          properties:
            default:
              type: string
              description: "default transfer cost in TON"
              example: "0.05"
            jettons:
              type: array
              items:
                type: object
                required:
                  - jetton_master
                  - symbol
                  - value
                properties:
                  jetton_master:
                    type: string
                  symbol:
                    type: string
                    example: "USD₮"
                  value:
                    type: string
                    description: "transfer cost in TON"
                    example: "0.002"
    PackageItem:
      type: object
      required:
        - name
        - image
        - charges
      properties:
        name:
          type: string
          enum:
            - large
            - medium
            - small
            - other
        image:
          type: string
        charges:
          type: integer
    GaslessEstimation:
      type: object
      required:
        - commission
      properties:
        commission:
          type: string

    GaslessCommissionJettonTransfer:
      type: object
      required:
        - destination
        - amount
      properties:
        destination:
          type: string
          description: Destination of commission jetton transfer (usually relayer)
        amount:
          type: string
          description: Commission amount in smallest jetton units (nano-jettons)
    PromoUsed:
      type: object
      required:
        - promo_used
        - bonus_charges
      properties:
        promo_used:
          type: boolean
        bonus_charges:
          type: string
          example: "10.250"
        purchases:
          type: array
          items:
            type: object
            required:
              - charges
            properties:
              charges:
                type: integer
                example: 100
    BatteryCharged:
      type: object
      required:
        - battery_charged
      properties:
        battery_charged:
          type: boolean
    Balance:
      type: object
      required:
        - balance
        - units
        - reserved
      properties:
        balance:
          type: string
          example: "10.250"
        reserved:
          type: string
          example: "0.3"
          description: "reserved amount in units (TON/USD)"
        units:
          type: string
          example: "usd"
          enum:
            - usd
            - ton
    RechargeMethods:
      type: object
      required:
        - methods
      properties:
        methods:
          type: array
          items:
            type: object
            required:
              - type
              - symbol
              - decimals
              - rate
              - support_gasless
              - support_recharge
            properties:
              image:
                type: string
                example: "https://example.com/image.png"
              jetton_master:
                type: string
              min_bootstrap_value:
                type: string
                example: "10.0"
              type:
                type: string
                enum:
                  - jetton
                  - ton
              rate:
                type: string
                example: "10.250"
              symbol:
                type: string
                example: "usdt"
              decimals:
                type: integer
                example: 6
              support_gasless:
                type: boolean
                example: true
              support_recharge:
                type: boolean
                example: true
    Purchases:
      type: object
      required:
        - purchases
        - total_purchases
      properties:
        total_purchases:
          type: integer
          example: 1
        purchases:
          type: array
          items:
            type: object
            required:
              - user_purchase_id
              - purchase_id
              - type
              - charges
              - datetime
            properties:
              promo:
                type: string
              for_account_id:
                type: string
              user_purchase_id:
                type: integer
                deprecated: true
                example: 2
              purchase_id:
                type: integer
                example: 2
              type:
                type: string
                example: "android"
                enum:
                  - android
                  - ios
                  - promo-code
                  - crypto
                  - gift
                  - on-the-way-gift
              amount:
                description: "Amount describes the amount paid by the user for this purchase when we know it. For crypto purchases it is always set."
                type: string
                example: "10.250"
              charges:
                type: integer
                example: 1200
              currency:
                description: "Currency is set when we know it. For crypto purchases it is always set."
                type: string
                example: "USDT"
              datetime:
                type: string
                example: "2006-01-02T15:04:05Z07:00"
              refund_information:
                type: object
                required:
                  - pending_refund
                  - fully_refunded
                  - partially_refunded
                properties:
                  fully_refunded:
                    type: boolean
                  partially_refunded:
                    type: boolean
                  pending_refund:
                    type: boolean
                  refunded:
                    type: object
                    required:
                      - amount
                      - charges
                    properties:
                      amount:
                        type: string
                        example: "10.250"
                      charges:
                        type: integer
                        example: 1200
                  refundable:
                    type: object
                    required:
                      - amount
                      - charges
                    properties:
                      amount:
                        type: string
                        example: "10.250"
                      charges:
                        type: integer
                        example: 1200
    EstimatedTronTx:
      type: object
      required:
        - energy_charges
        - bandwidth_charges
        - activation_charges
        - total_charges
        - instant_fee
      properties:
        energy_charges:
          type: integer
        bandwidth_charges:
          type: integer
        activation_charges:
          type: integer
        total_charges:
          type: integer
        instant_fee:
          type: object
          required:
            - fee_address
            - accepted_assets
          properties:
            fee_address:
              type: string
            accepted_assets:
              type: array
              items:
                type: object
                required:
                  - type
                  - amount_nano
                  - name
                  - decimals
                properties:
                  type:
                    type: string
                    enum:
                      - jetton
                      - ton
                  name:
                    type: string
                  jetton_master_id:
                    type: string
                  amount_nano:
                    type: string
                    example: "10.250"
                  decimals:
                    type: integer
    SentTronTx:
      type: object
      required:
        - status
      properties:
        status:
          type: string
    TronTransactionsList:
      type: object
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            type: object
            required:
              - txid
              - timestamp
              - from_account
              - to_account
              - amount
              - is_pending
              - is_failed
              - battery_charges
            properties:
              txid:
                type: string
              from_account:
                type: string
              to_account:
                type: string
              amount:
                type: string
              is_pending:
                type: boolean
              is_failed:
                type: boolean
              battery_charges:
                type: integer
              timestamp:
                type: integer
                format: int64
              trongrid_result:
                type: integer
              fee_type:
                type: string
                description: Type of fee used for this transaction (battery, ton, etc.)
              fee_ton_nano:
                type: integer
                description: Fee amount in TON nano units
              is_free_pro:
                type: boolean
                description: Whether this transaction was made using free pro transfers
    TronAvailableTransfers:
      type: object
      required:
        - available_transfers
        - type
      properties:
        available_transfers:
          type: integer
          description: Number of available free TRON transfers
          example: 3
        type:
          type: string
          description: Availability type. 'inactive' if source is telegram.
          example: inactive
        next_reset_date:
          type: integer
          format: int64
          description: Unix timestamp of next free transfers reset date (either next month after last reset or next charge date, whichever is closer)
          example: 1678275313
    AndroidBatteryPurchaseStatus:
      type: object
      required:
        - purchases
      properties:
        purchases:
          type: array
          items:
            type: object
            required:
              - product_id
              - token
              - success
            properties:
              product_id:
                type: string
                example: "1000000790000000"
              token:
                type: string
                example: "1000000790000000"
              success:
                type: boolean
                example: true
              error:
                type: object
                required:
                  - msg
                  - code
                properties:
                  msg:
                    type: string
                    example: "Temporary error. Try again later."
                  code:
                    type: string
                    example: "invalid-product-id"
                    enum:
                      - invalid-product-id
                      - user-not-found
                      - purchase-is-already-used
                      - temporary-error
                      - unknown

    appStoreResponse:
      type: object
    iOSBatteryPurchaseStatus:
      type: object
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            type: object
            required:
              - transaction_id
              - success
            properties:
              transaction_id:
                type: string
                example: "1000000790000000"
              success:
                type: boolean
                example: true
              error:
                type: object
                required:
                  - msg
                  - code
                properties:
                  msg:
                    type: string
                    example: "Temporary error. Try again later."
                  code:
                    type: string
                    example: "invalid-bundle-id"
                    enum:
                      - invalid-bundle-id
                      - invalid-product-id
                      - user-not-found
                      - purchase-is-already-used
                      - temporary-error
                      - unknown
    promoCodeBatteryPurchaseStatus:
      type: object
      required:
        - success
        - balance_change
      properties:
        balance_change:
          type: string
          example: "10.250"
        success:
          type: boolean
          example: true
        error:
          type: object
          required:
            - msg
            - code
          properties:
            msg:
              type: string
              example: "Temporary error. Try again later."
            code:
              type: string
              example: "promo-code-not-found"
              enum:
                - promo-code-not-found
                - promo-exceeded-attempts
                - temporary-error
    Transactions:
      type: object
      required:
        - transactions
        - total_transactions
      properties:
        total_transactions:
          type: integer
          example: 1
        next_offset:
          type: integer
          description: if set, then there are more transactions to be loaded. Use this value as offset parameter in the next request.
          example: 10
        transactions:
          type: array
          items:
            type: object
            required:
              - id
              - paid_amount
              - status
              - created_at
            properties:
              id:
                type: string
              paid_amount:
                type: string
                description: represents the amount of money paid by the user for this transaction.
                example: "10.250"
              status:
                type: string
                example: "10.250"
                enum:
                  - pending
                  - completed
                  - failed
              created_at:
                type: string
                example: "2006-01-02T15:04:05Z07:00"
  responses:
    Error:
      description: Some error during request processing
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
              error-key:
                type: string
              error-details:
                type: string
