/**
 * AUTO-GENERATED FILE - DO NOT EDIT
 *
 * This file was automatically generated by the Tonapi OpenAPI Generator.
 * Generator: OpenAPI Generator (https://openapi-generator.tech)
 *
 * To regenerate, run: ./tools/scripts/generators/tonapi/update-all.sh
 * Manual changes will be overwritten on next generation.
 */

package io.perpsapi.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.perpsapi.models.ErrorResponse
import io.perpsapi.models.MarketsScreen
import io.perpsapi.models.PortfolioScreen
import io.perpsapi.models.TradingScreen

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import io.infrastructure.ApiClient
import io.infrastructure.ApiResponse
import io.infrastructure.ClientException
import io.infrastructure.ClientError
import io.infrastructure.ServerException
import io.infrastructure.ServerError
import io.infrastructure.MultiValueMap
import io.infrastructure.PartConfig
import io.infrastructure.RequestConfig
import io.infrastructure.RequestMethod
import io.infrastructure.ResponseType
import io.infrastructure.Success
import io.infrastructure.toMultiValue

class ScreensApi(basePath: String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.example.com/tk-perps/public-api/v1")
        }
    }

    /**
     * enum for parameter filter
     */
     enum class FilterGetMarketsScreen(val value: String) {
         @SerialName(value = "trending") trending("trending"),
         @SerialName(value = "all") all("all"),
         @SerialName(value = "favorites") favorites("favorites"),
         @SerialName(value = "tokens") tokens("tokens"),
         @SerialName(value = "perps") perps("perps"),
         @SerialName(value = "commodities") commodities("commodities"),
         @SerialName(value = "stocks") stocks("stocks"),
         @SerialName(value = "etfs") etfs("etfs"),
         @SerialName(value = "fx") fx("fx");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): String = "$value"
     }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketsScreen(q: String? = null, filter: FilterGetMarketsScreen? = FilterGetMarketsScreen.all, sort: String? = null): MarketsScreen {
        val localVarResponse = getMarketsScreenWithHttpInfo(q = q, filter = filter, sort = sort)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MarketsScreen
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketsScreenWithHttpInfo(q: String?, filter: FilterGetMarketsScreen?, sort: String?): ApiResponse<MarketsScreen?> {
        val localVariableConfig = getMarketsScreenRequestConfig(q = q, filter = filter, sort = sort)

        return request<Unit, MarketsScreen>(
            localVariableConfig
        )
    }

    fun getMarketsScreenRequestConfig(q: String?, filter: FilterGetMarketsScreen?, sort: String?): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.value))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/screens/markets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPortfolioScreen(xWalletID: String): PortfolioScreen {
        val localVarResponse = getPortfolioScreenWithHttpInfo(xWalletID = xWalletID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PortfolioScreen
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPortfolioScreenWithHttpInfo(xWalletID: String): ApiResponse<PortfolioScreen?> {
        val localVariableConfig = getPortfolioScreenRequestConfig(xWalletID = xWalletID)

        return request<Unit, PortfolioScreen>(
            localVariableConfig
        )
    }

    fun getPortfolioScreenRequestConfig(xWalletID: String): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWalletID.apply { localVariableHeaders["X-Wallet-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/screens/portfolio",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            requiresWalletAuthentication = true,
            walletId = xWalletID,
            body = localVariableBody
        )
    }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTradingScreen(market: Int, xWalletID: String): TradingScreen {
        val localVarResponse = getTradingScreenWithHttpInfo(market = market, xWalletID = xWalletID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TradingScreen
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTradingScreenWithHttpInfo(market: Int, xWalletID: String): ApiResponse<TradingScreen?> {
        val localVariableConfig = getTradingScreenRequestConfig(market = market, xWalletID = xWalletID)

        return request<Unit, TradingScreen>(
            localVariableConfig
        )
    }

    fun getTradingScreenRequestConfig(market: Int, xWalletID: String): RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<String, List<String>>()
            .apply {
                put("market", listOf(market.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWalletID.apply { localVariableHeaders["X-Wallet-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/screens/trading",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            requiresWalletAuthentication = true,
            walletId = xWalletID,
            body = localVariableBody
        )
    }

    private fun encodeURIComponent(uriComponent: String): String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
